 
  .nft-container {
    display: flex;
    flex-direction: column;
  }
  
  .nft-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: 8ch auto;
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 20px 0 20px 0;
  }
  
  .nft-item img {
    width: 60%;
    height: 70%;
    border-radius: 10px;
    /* object-fit: cover; */
  }
  